
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

* { 
    box-sizing: border-box; 
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
html, body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

body { 
    background: #fc95c0;
    background: radial-gradient(circle, rgba(252, 149, 192, 1) 0%, rgba(193, 142, 237, 1) 100%);
    color: #333; 
    line-height: 1.6; 
    padding: 50px; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container { 
    background: #f5f5f5; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 10px 0 10px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 700px; 
    height: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

nav { 
    margin-bottom: 50px; 
    width: 100%; 
    min-width: 500px;
    text-align: center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    border-bottom: 3px solid rgba(193, 142, 237, 1);
    border-top: 3px solid rgba(193, 142, 237, 1);
    border-radius: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: #333;
    text-decoration: none;
    color: radial-gradient(circle, rgba(252, 149, 192, 1) 0%, rgba(193, 142, 237, 1) 100%);
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

h1 { 
    text-align: center; 
    margin-bottom: 20px; 
    color: radial-gradient(circle, rgba(252, 149, 192, 1) 0%, rgba(193, 142, 237, 1) 100%); 
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}

table { 
    width: 100%; 
    min-width: 600px;
    margin-bottom: 20px; 
    margin-top: 50px;
    border: 2px solid #333;
    border-collapse: separate;
    border-spacing: 0;   
    border-radius: 10px;
    overflow: hidden; 
}
th, td { 
    padding: 10px; 
    text-align: left; 
    border-bottom: 2px solid #333; 
    border-right: 2px solid #333;
}
th { 
    background: rgba(193, 142, 237, 1) 50%; 
    color: #fff; 
    font-weight: 600;
}
td{
    color: #333;
    color: radial-gradient(circle, rgba(252, 149, 192, 1) 0%, rgba(193, 142, 237, 1) 100%);
    font-weight: 400;
    font-size: 14px;
}



h2 {
    text-align: center; 
    margin-bottom: 10px; 
    color: radial-gradient(circle, rgba(252, 149, 192, 1) 0%, rgba(193, 142, 237, 1) 100%); 
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

p{
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.task-table {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}
.task-table td{
    border-right: none;
    font-size: 16px;
    font-weight: 500;
}

.task-table th{
    background: #f5f5f5;
    color: #333;
    border-right: none;
}
.task-table th button{
    margin-top: 0;
    margin-bottom: 0;
}

td:last-child, th:last-child{
    border-right: none;
}
table tr:last-child td {
    border-bottom: none;
}


input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 12px;

}

#description{
    font-size: 12px;
    height: 25px;
    margin-bottom: 0;
}


.add-task-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    background:  rgba(193, 142, 237, 1);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
}

button:hover {
    background:  radial-gradient(circle, rgba(252, 149, 192, 1) 0%, rgba(193, 142, 237, 1) 100%);
}

label{
    font-size: 12px;
    font-weight: 500;
}

#date{
    font-size: 14px;
    font-weight: 400;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    accent-color: rgba(193, 142, 237, 1);
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;

}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#delete-col {
    border-right: none;
}

.task-actions {
    vertical-align: middle;
    border-right: none;
}

.task-actions-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}


.task-desc{
    font-size: 12px;
    font-weight: 200;
}

.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 25px;
    width: 100%;
}

.list-title h1, .list-title p{
    white-space: nowrap;
    flex-shrink: 0;
}

#del-list{
    display: flex;
    justify-content: flex-end;
}